<div class="footer">
	<span>All sound clips are from <a href="http://ta.hirezstudios.com" target="_blank">Tribes Ascend</a>, developed by <a href="http://www.hirezstudios.com" target="_blank">Hi-Rez Studios</a>. The Shazinator is a fan made project and is in no way affiliated with Hi-Rez Studios.</span><span> &#169; 2012 shazinator.com</span>
</div>
