<div class="welcome-message-wrapper grid_10 prefix_1 suffix_1">
	<div class="welcome-message">

		<h1>THE SHAZINATOR.</h1>

		<div class="welcome-separator"></div>

		<p><span class="mini-help-box"></span>Click help for a few instructions.</p>

		<p><span class="mini-create-box"></span>Click create to start shazinator-inging.</p>

		<p><span class="mini-random-box"></span>Click random to get buck-wild!</p>

	</div>
</div>

<%- partial('main-buttons.ejs') %>

<%- partial('info-dialog.ejs') %>
