<html>
	<head>
		<title>Internet Explorer is not supported.</title>
		<link rel="stylesheet" type="text/css" href="<%= staticPrefix %>/stylesheets/noie.css" />
	</head>
	<body>
		<div class="noie-wrapper">
			<div class="noie-content">
				<h1>Why are you using Internet Explorer?</h1>
				<div class="noie-separator"></div>
				<p>The Shazinator does not work with Internet Explorer. This is because Internet Explorer does not support the HTML 5 Audio API. If you would like to use The Shazinator, please visit the site with <a href="http://www.mozilla.org/firefox/new" target="_blank">Firefox</a> or <a href="http://www.google.com/chrome">Chrome</a>.</p>
			</div>
		</div>
	</body>
</html>
